<div class="container taille bordure">
    <div class="row">
        <img [src]="getImageCurrentArticle()" [alt]="getImageCurrentArticle()" width="700em" height="350em">
    </div>
    <div class="row">
        <h1 class="centerh1">{{ getTitleCurrentArticle() }}</h1>
    </div>
    <div class="row">
        <div class="col">
            <p [innerHtml]="getDescriptionCurrentArticle()"></p>
        </div>
    </div>
</div>

<div class="container centerh1" *ngIf="isLogged()">
    <button mat-raised-button color="primary" class="mycenter" (click)="editNewsClick($event)">Editer la new's</button>
</div>


