<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  *ngIf="!isLogged()">
    <div class="container">
        <div class="row">
            <mat-form-field appearance="outline" class="mycenter">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <mat-form-field appearance="outline" class="mycenter">
                <mat-label>Mot de Passe</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <button mat-raised-button color="primary" class="mycenter" type="submit" [disabled]="!loginForm.valid">Envoyer</button>
        </div>
    </div>
</form>

<div class="container" *ngIf="isLogged()">
    <div class="row">
        <h2 class="mycenter">Vous êtes connecté</h2>
    </div>
    <div class="row">
        <button mat-raised-button color="warn" class="mycenter" (click)="logOut()">Vous deconnectez</button>
    </div>
</div>